certifi==2020.6.20
chardet==3.0.4
ciscosparkapi==0.10.1
docopt==0.6.2
future==0.18.2
idna==2.10
iniparse==0.4
pycurl==7.19.0
pygpgme==0.3
pyliblzma==0.5.3
pyxattr==0.5.1
requests==2.24.0
requests-toolbelt==0.9.1
six==1.15.0
urlgrabber==3.10
urllib3==1.25.10
yarg==0.1.9
yum-metadata-parser==1.1.4